secrets = {
    "ssid": "SSID",
    "password": "WPA-Passphrase",
    "mqtt_broker": "mqtt broker name or ip",
    "mqtt_port": 1883,
    "mqtt_username": "mqtt username",
    "mqtt_password": "mqtt password",
    "mqtt_topic": "topic for sensor readings",
    "mqtt_baseline_topic": "topic to store SGP30 baseline",
}